/* 
Using luxury airport shuttles as my template
https://www.luxuryairportshuttles.co.nz/
*/

body{    
    display: flex;
    flex-direction: column;
    background-color: #00B1B0;
    height: 100vh;
    text-align: center;
    align-items: center;
}

header{
    background-color: #101519;
    color: #00B1B0;
}



.page{
    display: flex;
    flex-direction: column;
    align-items: center;
width: 80vw;
height: 100vh;
background-image: url(./shuttle.jpg);
background-size:cover;
background-position: center;
background-repeat: no-repeat;
gap: 5%;}


.bookingSection
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formy, #bookingArea, .timeArea{
    display: flex;
    flex-direction: column;    
    border: 1px black solid;
    text-align: center;
    background-color: #00B1B0;
    opacity: 0.8;
    width:max-content;
    align-self: center;
    
}

#bookingArea{
    width: 80vw;
}